@import url(https://fonts.googleapis.com/css?family=Nunito);

/*Background Image*/
.bg img {
	height: 100vh;
	width: 100%;
	display: block;
	overflow-x: hidden;
}

@media screen and (max-width: 768px) {
	.bg {
		display: none;
	}
}

@media screen and (max-height: 420px) {
	.bg {
		display: none;
	}
}
/*Global Styles*/
body {
    font-family: "Nunito", sans-serif;
}

.paragraph {
 	margin: 8% 10%;
}

.paragraph2 {
    margin: 5% 6%;
}
.main {
	overflow-x: hidden;
}

#back span {
    position: fixed;
    z-index: 10;
    font-size: 30px;
    color: #4d4d4d;
    margin: 20px;
    margin-top: 20px;
}

#back span:hover {
    color: #ff9933;
    transition: 1s;
}

#back1 span {
    position: fixed;
    z-index: 10;
    font-size: 30px;
    color: rgb(255, 230, 206);
    margin: 5px;
    margin-top: 20px;
}

#back1 span:hover {
    color: #4d4d4d;
    transition: 1s;
}

/*About Page*/
.abouttitle {
	background: url(images/elaine.JPG) no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.abouttitle img {
	max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.abouttitle:hover, .portfoliotitle:hover, .contacttitle:hover {
	opacity: 0.9;
	transition: 1.5s;
}

/*Portfolio Page*/
.portfoliotitle {
	background: url(images/butterfly.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.portfoliotitle img, .selection img {
	max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.selection {
	height: 50vh;
}

.selection:hover {
	opacity: 0.8;
}

#yb {
	background: url(images/cover.jpg) no-repeat center center;
	background-size: cover;
}


#awards {
    background: url(images/orange.gif) no-repeat center center;
    background-size: cover;
}

#ptpost {
    background: url(images/ptp.jpg) no-repeat center center;
    background-size: cover;
}

#more {
	background-color: #417b10;
	position: relative;
}


/*Yearbook Page*/
.yearbookcover {
	height: 100vh;
	background: url(images/outside.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.yearbookcover img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 80px;
	left: 0;
	right: 0;
	margin: auto;
}

.yearbookinner {
	height: 100vh;
	background: url(images/inside.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

@media screen and (max-width: 768px) {
	.yearbookinner {
		display: none;
	}
	.yearbookcover {
		display: none;
	}
	.slide {
		display: none;
	}
}

@media screen and (max-height: 420px) {
	.yearbookinner {
		display: none;
	}
	.yearbookcover {
		display: none;
	}
	.slide {
		display: none;
	}
}

.ybft {
	height: 50vh;
}

#feature1 {
	background: url(images/flip.gif) no-repeat center center;
	background-size: cover;
}

#feature2 {
	background: url(images/run.JPG) no-repeat center center;
	background-size: cover;
}

#feature3 {
	background: url(images/cover.jpg) no-repeat center center;
	background-size: cover;
}

.paragraph1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
	background-color: white;
}

#feature1:hover .paragraph1, #feature2:hover .paragraph1, #feature3:hover .paragraph1 {
  visibility: visible;
	transition: 1s;
  opacity: 0.8;
}

/*More, Award Page*/

#moretitle, #awardtitle {
    position: fixed;
    height: 100vh;
    background: url(images/orange.gif) no-repeat center center;
    background-size: cover;
    z-index:1;
}


@media screen and (max-width: 768px) {
    #moretitle, #awardtitle {
        position: static;
    }
    .placeholder {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    #moretitle, #awardtitle {
        position: static;
    }
    .placeholder {
        display: none;
    }
}

#moretitle img, #awardtitle img, #ptposter img {
    max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

#websites, #summer {
    background-color: dimgray;
}


/*Pinetree Post Page*/

#ptposter {
		height: 100vh;
    background: url(images/ptp.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#ntanpage {
		height: 100vh;
    background: url(images/ntanpage.png) no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    overflow-x: hidden;
}

#ntanpage:hover {
	opacity: 0.7;
	transition: 2s;
}

@media screen and (max-width: 660px) {
    #ptposter {
			background-size: auto;
			background-attachment: scroll;
		}
		#ntanpage {
			height: 50vh;
			background-attachment: scroll;
		}
}

@media screen and (max-height: 400px) {
    #ptposter {
			height: 75vh;
			background-size: auto;
		}
		#ntanpage {
			height: 50vh;
		}
}

/*Contact Page*/
.contacttitle {
	height: 100vh;
	background: url(images/orange.gif) no-repeat center center;
	background-size: cover;
}

.contacttitle img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#link2 {
	color: white;
}

#link:hover, #link2:hover {
	transition: 0.5s;
	color: #ff9933;
	text-decoration: none;
}

.paragraph1 {
	padding: 5% 10%;;
}

.ftyb {
	font-size: 18px;
}

@media screen and (max-width: 920px) {
	.ftyb {
		font-size: 16px;
	}
}

@media screen and (max-width: 350px) {
	.ybft {
		height: 100vh;
		font-size: 18px;
	}
	.selection {
		height: 100vh;
	}
}

@media screen and (max-height: 500px) {
	.ybft {
		height: 100vh;
		font-size: 18px;
	}
	.selection {
		height: 100vh;
	}
}
