@import url(https://fonts.googleapis.com/css?family=Lora|Poppins:300,400,500|Roboto:300,500);

/*Global Styles*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

h1,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0 0 20px;
}

h2, h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 2em;
    color: #606060
}

/*Background Image*/
.bg {
    display: table;
    padding: 40px 0 0 0;
    text-align: center;
    color: white;
    background: url(images/landing-bg.png) no-repeat center center;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	height: 100vh;
	width: 100%;
	display: block;
	overflow-x: hidden;
}

.portfolio {
    padding: 30px 0;
}

.bg .landing-page img {
    width: 6em;
    height: auto;
    vertical-align: middle;
}

.bg .landing-page h1 {
    font-size: 60px;
}
.bg .landing-page h6 {
    font-size: 18px;
    font-weight: 400;
}

/*heading title*/
.masthead {
    position: relative;
    padding: 7em 0;
}

@media (min-width: 768px){
    .bg .landing-page h1 {
        font-size: 100px;
    }
    .bg .landing-page h6 {
        font-size: 22px;
        font-weight: 400;
    }
}

@media (max-width: 430px){
    .bg .landing-page h1 {
        font-size: 48px;
    }
    .bg .landing-page h6 {
        font-size: 14px;
        font-weight: 400;
    }
    .bg {
        padding: 20px;
    }
}

.bg .btn-outline-secondary {
    border: 2px solid white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;

}

.bg .btn-outline-secondary:focus, .btn-outline-secondary:hover {
    color: gray;
    background-color: white;
}

/*Nav Styles*/

.navbar-brand img {
    width: 3.5em;
    height: auto;
}

.navbar-nav {
   font-family: "Roboto", sans-serif;
}
/*adds a small footer space*/
.portBottom {
    margin-bottom: 2em;
}
/*Portfolio Modals*/

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

.portfolio-item img {
    margin-bottom: 1.5em;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }


.portfolio-item:hover img, .portfolio-item:focus img {
    opacity: 0.1;
    transition: 0.4s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s;
  background-color: transparent;
}

.portfolio-item:hover, .portfolio-item:focus .overlay {
  opacity: 1;
}

.portfolio-item p {
      color: dimgray;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 1200px) and (min-width: 767px) {
    .portfolio-item p {
        font-size: 14px;
    }
}


@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; }

.portfolio-modal .modal-dialog .modal-content {
    padding: 100px 0;
    border: 0;
    border-radius: 0; }

.portfolio-modal .modal-dialog .modal-content h2 {
      font-size: 3em;
      margin: 0; }

.portfolio-modal .modal-dialog .modal-content img {
      margin-bottom: 30px; }

.portfolio-modal .modal-dialog .modal-content .item-details {
      margin: 30px 0; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50; }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #2C3E50; }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

.btn-outline-success {
    border: 2px solid gray;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
}

.portfolio-modal h6 {
    color: gray;
}

.portfolio-modal img {
    padding: 1em 0;
}



.btn-outline-success:focus, .btn-outline-success:hover {
    color: white;
    border: 2px solid darkorange;
    background-color: darkorange;
}

a {
    color: #c0c0c0;
}

a:hover {
    color: darkorange;
    transition-duration: 0.3s;
    text-decoration: none;
}

.about {
    margin-bottom: 6em;
}

/*footer*/

.footer {
    bottom: 3em;
    text-align: center;
}

.footer img {
     width: 3.5em;
    height: auto;
    vertical-align: middle;
    padding: 0 0.4em;
}

.footer img:hover {
    opacity: 0.3;
    transition: 0.3s ease;
}

.email {
    margin: -1em 0 5em 0;
}
